
<div class="posts">
    <div class="post">
      <h4><%= @question.name %></h4>
      <p>
        <%= @question.body %>
       </p>
</div>

Ответ:
<% if @question.answer %>
<p>
  <%= simple_format @question.answer.body %>
</p>

<p>

  <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="link" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,gplus"></div>

 </p>
<% else %>
  Ответа пока нет. Он появится в ближайшее время.
<% end %>


<% if can? :manage, Question %>
  <%= link_to 'Редактировать', edit_question_path(@question) %> |
  <%= link_to 'Удалить', @question, :method => :delete %>
  <% unless @question.answer %>
    | <%= link_to "Ответить", new_question_answer_path(@question) %>
  <% end %>
    | <%= link_to "Редактировать ответ",  edit_question_answer_path(@question, @question.answer) if @question.answer%>
    | <%= link_to "Связанные вопросы",  question_relative_questions_path(@question)%>
    <% if can? :publish_on_main, @question and not @question.publish_on_main? %>
    |  <%= link_to t("publish_on_main"), publish_on_main_question_path(@question), :remote => true, :id => "publish_#{@question.id}" %>
    <% end %>
    <% if can? :not_publish_on_main, @question and @question.publish_on_main? %>
    |  <%= link_to t("not_publish_on_main"), not_publish_on_main_question_path(@question), :remote => true, :id => "unpublish_#{@question.id}" %>
    <% end %>
<% end %>
