
<div class="posts">
    <div class="post">
      <h4><%= @question.name %></h4>
      <p>
        <%= @question.body %>
       </p>
</div>

Ответ:
<% if @question.answer %>
<p>
  <%= @question.answer.body %>
</p>
<% else %>
  Нет
<% end %>


<% if can? :manage, Question %>
  <%= link_to 'Редактировать', edit_question_path(@question) %> |
  <%= link_to 'Удалить', @question, :method => :delete %>
  <% unless @question.answer %>
    | <%= link_to "Ответить", new_question_answer_path(@question) %>
  <% end %>
<% end %>
