<h1><%= @article.name %></h1>

<div class="text">
  <%= RedCloth.new( @article.body ).to_html.html_safe %>
</div>
<p>
 <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ru">Твитнуть</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
</p>
<br/>
  <div class="post_info">
          <div class="author">
                  <a href="#"><%= image_tag @article.user.avatar.url(:thumb), :class=>"thumb", :width=>"36", :height=>"36" %></a>
                  <p><%= t(".publish_on")  %>: <%= l( @article.updated_at ) %></p>
                  <p><%= t(".author")  %>: <%=  @article.author %></p>
                  <% if params[:action] == "my" %>
                    <p class="article status"> 
                      <%= t(".status") %>: <%= @article.aasm_status %>
                    </p>
                  <% end %>
          </div><!-- END author -->
          
          <ul>
                <% if can? :update, @article %>
                  <li class="edit">
                    <%= link_to t("edit"), edit_article_path(@article) %>
                  </li>
                  <% if can? :destroy, @article %>
                    <li class="shift_del">
                      <%= link_to t("destroy"), article_path(@article), :method => :delete%>
                    </li>
                  <% end %>
                  <% if can? :publish, @article and not @article.publics? %>
                    <li class="edit">
                      <%= link_to t("publish"), publish_article_path(@article) %>
                    </li>
                  <% end %>
                  <% if can? :delete, @article %>
                    <li class="del">
                      <%= link_to t("delete"), delete_article_path(@article), :confirm => t("confirm") %>
                    </li>
                  <% end %>
                <% end %>
          </ul>
  </div><!-- END post_info -->

<br/>

<% set_editor_comment %>
<% if can? :create, Comment %>
  <%= render :partial => "comments/form", :locals => {:parent_id => 0} %>
<% else %>
  <%= t(".register_or_login", :link_register => link_to( t(".register"), new_user_registration_path ) , :link_login =>link_to( t(".login"), new_user_session_path ) ).html_safe  %>
<% end %>
<div id="comments">
  <%= render :partial => "comments/comment", :collection => @article.root_comments%>
</div>
<%= hidden_field_tag "set_editor", "0" %>

        <script language="javascript">
          $('#comments').live('click', function()	{
           if ($('#set_editor').val()=="0") {
              jQuery(".markItUpR").markItUp(myTextileSettings).css('height', function() {
                /* Since line-height is set in the markItUp-css, fetch that value and
                split it into value and unit.  */
                var h = jQuery(this).css('line-height').match(/(\d+)(.*)/)
                /* Multiply line-height-value with nr-of-rows and add the unit.  */
                return (h[1]*jQuery(this).attr('rows'))+h[2]
              });
              jQuery(".markItUpContainer").css('width', "100%");
              jQuery(".markItUp").css('width', "90%");
 
             $('#set_editor').val("1");
            } 
          });

        </script>

