<h1><%= @article.name %></h1>

<div class="article body">
  <%= RedCloth.new( @article.body ).to_html.html_safe %>
</div>
<div class="article date">  <%= t("articles.article.publish_on")  %>: <%= l( @article.updated_at ) %></div>
<div class="article author">  <%= t("articles.article.author")  %>: <%=  @article.author %></div>
<% if params[:action] == "my" %>
  <div class="article status"> <%= t("articles.article.status") %>: <%= @article.aasm_status %></div>
<% end %>
<% if can? :update, @article %>
  <div>
    <%= link_to t("edit"), edit_article_path(@article) %>
    <% if can? :destroy, @article %>
      <%= link_to t("destroy"), article_path(@article), :method => :delete%>
    <% end %>
    <% if can? :publish, @article and not @article.publics? %>
      <%= link_to t("publish"), publish_article_path(@article) %>
    <% end %>
    <% if can? :delete, @article %>
      <%= link_to t("delete"), delete_article_path(@article), :confirm => t("confirm") %>
    <% end %>
  </div>
<% end %>

<br/>

<% set_editor_comment %>
<% if can? :create, Comment %>
  <%= render :partial => "comments/form", :locals => {:parent_id => 0} %>
<% else %>
  <%= t(".register_or_login", :link_register => link_to( t(".register"), new_user_registration_path ) , :link_login =>link_to( t(".login"), new_user_session_path ) ).html_safe  %>
<% end %>
<div id="comments">
  <%= render :partial => "comments/comment", :collection => @article.root_comments%>
</div>
<%= hidden_field_tag "set_editor", "0" %>

        <script language="javascript">
          $('#comments').live('click', function()	{
           if ($('#set_editor').val()=="0") {
              jQuery(".markItUpR").markItUp(myTextileSettings).css('height', function() {
                /* Since line-height is set in the markItUp-css, fetch that value and
                split it into value and unit.  */
                var h = jQuery(this).css('line-height').match(/(\d+)(.*)/)
                /* Multiply line-height-value with nr-of-rows and add the unit.  */
                return (h[1]*jQuery(this).attr('rows'))+h[2]
              });
             $('#set_editor').val("1");
            } 
          });

        </script>

