<% description(@article.preview) %>
<% title(@article.name) %>
<div class="posts single">
<h1><%= @article.name %></h1>
<div class="post">
  <%= RedCloth.new( @article.body ).to_html.html_safe %>

  <p>
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="link" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,gplus"></div>   </p>

</div>
<% if can? :update, @article %>
<div class="article date">  <%= t("articles.article.publish_on")  %>: <%= l( @article.updated_at ) %></div>
<div class="article author">  <%= t("articles.article.author")  %>: <%=  @article.author %></div>
<% if params[:action] == "my" %>
  <div class="article status"> <%= t("articles.article.status") %>: <%= @article.aasm_status %></div>
<% end %>
  <div>
    <%= link_to t("edit"), edit_article_path(@article) %>
    <% if can? :destroy, @article %>
      <%= link_to t("destroy"), article_path(@article), :method => :delete%>
    <% end %>
    <% if can? :publish, @article and not @article.publics? %>
      <%= link_to t("publish"), publish_article_path(@article) %>
    <% end %>
    <% if can? :delete, @article %>
      <%= link_to t("delete"), delete_article_path(@article), :confirm => t("confirm") %>
    <% end %>
  </div>
<% end %>

<br/>


<%= render :partial => "article", :collection => @article.relatives.published%>
