<div class="product">
    <% if store.on_top? %>
      <span class="top"></span>
    <% elsif store.fresh %>
      <span class="top fresh"></span>
    <% end %>
    <% if store.honey_sort %>
      <%= sort_image store.honey_sort %>
    <% else %>
      <div style="width: 180px; height: 180px; float: left;">&nbsp;</div>
    <% end %>
    <h4><%= link_to store.name, store_path(store) %></h4>
    <span><%= store.where_from %></span>
    <div class="price">
      <% if store.prod? %>
        <p><%= store.price/10 %> Р.</p>
      <% else %>
        <p><%= store.price %> Р. килограмм </p>
        <p><%= store.price_one_liter %> Р. 1 литр</p>
        <p><%= store.price_three_liters %> Р. 3 литра</p>
      <% end %>
      <br/>
      <div>
      <%= form_tag(add_shoping_cart_path(store), :remote => true, :method => :get) do %>
        <table border="0">
          <tr>
            <td valign="bottom" >
              <% if store.prod?%>
                <%= select_tag "amount", options_for_select(Store.short_weight.map{|s| ["#{s} грамм", s]}), :class=>"select" %>
              <% else %>
                <%= select_tag "amount", options_for_select([["1 килограмм", "1000"], ["1 литр(1400 грамм)", "1400"], ["3 литра(4500 грамм)", "4500"]]), :class=>"select" %>
              <% end %>
            </td>
            <td valign="top">
              <%= submit_tag "В корзину", :class => "buy" %>
            </td>
          </tr>
        </table>
      <% end %>
      </div>
    </div>
</div><!-- END product -->
