<div class="posts single">
  <h1><%= @store.name %></h1>
</div>
<div class="product">
    <% if @store.on_top? %>
      <span class="top"></span>
    <% end %>
    <%= sort_image @store.honey_sort %>
    <span><%= @store.where_from %></span>
    <div class="post">
      <%= RedCloth.new( @store.description).to_html.html_safe %>
    </div>
    <br/>
    <b>Изображение медоноса</b>
    <span> 
      <%= image_tag @store.logo.url(:medium), :class=>"picture" %>
    </span>
    <div class="price">
      <p><%= @store.price %> Р.</p>
      <%= form_tag(add_shoping_cart_path(@store), :remote => true, :method => :get) do %>
        <table border="0">
          <tr>
            <td valign="bottom">
              <%= select_tag "amount", options_for_select([["1 килограмм", "1000"], ["1 литр(1400 грамм)", "1400"], ["3 литра(4500 грамм)", "4500"]]) %>
            </td>
            <td valign="top">
              <%= submit_tag "В корзину", :class => "buy" %>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
</div><!-- END product -->
