<div class="posts single">
  <h1><%= @store.name %></h1>
</div>
<div class="product">
    <% if @store.on_top? %>
      <span class="top"></span>
    <% end %>
    <%= sort_image @store.honey_sort %>
    <span><%= @store.where_from %></span>
    <%= simple_format(@store.description.html_safe) %>
    <br/>
    <b>Изображение медоноса</b>
    <p>
      <%= image_tag @store.logo.url(:medium) %>
    </p>
    <div class="price">
      <p><%= @store.price %> Р.</p>
      <%= form_tag(add_shoping_cart_path(@store), :remote => true, :method => :get) do %>
      <%= select_tag "amount", options_for_select([["1000 грамм", "1000"], ["1 литр(1400 грамм)", "1400"], ["3 литра(4200 грамм)", "4200"]]) %>
      <%= submit_tag "В корзину", :class => "buy" %>
    </div>
</div><!-- END product -->
