<%= title("Вопросы к пчеловодам о меде и о продуктах пчеловодства :: Мед на дом") %>

<div class="posts single">
  <h1>Вопросы размещенные на главной</h1>
</div>
<div class="posts">
<ul id="questions" data-update-url="<%= sort_questions_url %>">
  <% @questions.each do |question| %>
  <li id="question_<%= question.id %>">
    <span class="handle">[Перетащить]</span>
      <div class="post">
        <h4><%= question.name %></h4>
        <p>
          <%= question.body %>
        </p>
        <%= link_to "Подробнее...", question, :class=>"more"%>
    <% if can? :publish_on_main, question and not question.publish_on_main? %>
      <%= link_to t("publish_on_main"), publish_on_main_question_path(question), :remote => true, :id => "publish_#{question.id}" %>
    <% end %>
    <% if can? :not_publish_on_main, question and question.publish_on_main? %>
      <%= link_to t("not_publish_on_main"), not_publish_on_main_question_path(question), :remote => true, :id => "unpublish_#{question.id}" %>
    <% end %>
      </div><!-- END post -->
  <% end %>
</li>
</ul>
<!-- END posts -->
</div>
<%= link_to "Задать вопрос", new_question_path, :class => "ask" %>
