<h2><%= link_to article.category.name, category_articles_path(article.category_id)%> &rarr; <%= link_to article.name, category_article_path(article.category_id, article.id) %></h2>
<div class="article body">
  <%= article.preview %>
</div>
  <div class="post_info">
          <div class="author">
                  <a href="#"><img src="/images/img1.jpg" width="30" height="35" /></a>
                  <p><%= t("articles.article.publish_on")  %>: <%= l( article.updated_at ) %></p>
                  <p><%= t("articles.article.author")  %>: <%=  article.author %></p>
                  <% if params[:action] == "my" %>
                    <p class="article status"> 
                      <%= t("articles.article.status") %>: <%= article.aasm_status %>
                    </p>
                  <% end %>
          </div><!-- END author -->
          
          <ul>
                <% if can? :update, article %>
                  <li class="edit">
                    <%= link_to t("edit"), edit_article_path(article) %>
                  </li>
                  <% if can? :destroy, article %>
                    <li class="shift_del">
                      <%= link_to t("destroy"), article_path(article), :method => :delete%>
                    </li>
                  <% end %>
                  <% if can? :publish, article and not article.publics? %>
                    <li class="edit">
                      <%= link_to t("publish"), publish_article_path(article) %>
                    </li>
                  <% end %>
                  <% if can? :delete, article %>
                    <li class="del">
                      <%= link_to t("delete"), delete_article_path(article), :confirm => t("confirm") %>
                    </li>
                  <% end %>
                <% end %>
          </ul>
  </div><!-- END post_info -->
