<%= title("Как купить мед у нас :: Мед на дом") %>
<%= description("Как правильно составить заказ? Читайте на этой страничке.") %>
<div class="posts single">
  <h1>Как купить мёд</h1>

<div class="post marging_li">
<p>
<b>Уважаемые покупатели!</b>
</p>

<p>
  <b>Наш интернет-магазин осуществляет доставку по Ростову на Дону и регионам России.</b>
</p>

<p>
  <b><u>Курьерская доставка по Ростову-на Дону:</u></b>
</p>

<p>
  <ul>
    <li> срок 1-3 дня со дня размещения заказа
      <li><b><u>бесплатно</u></b> осуществляется доставка от 2-х литров  мёда
        <li>стоимость доставки заказа <b><u>мене 2-х литров</u></b> составит 250 руб.
  </ul>
</p>



<p>
 Оплата производится курьеру наличными средствами. Вы получаете всю необходимую документацию.
</p>



<p>
  <b>Обратите внимание, что мы снабжаем  заказ бесплатным пробником. Обязательно продегустируйте его мёд в присутствии курьера!</b>
</p>

<p>
  В случае, если мёд <b> не подошёл вам по какой-либо из объективных причин</b> (вкус, цвет, запах, консистенция)<b> вы можете отказаться от его покупки.</b> Услуги курьера при этом не оплачиваются.
</p>



<p>

  <b><u>Варианты доставки по России:</u></b>
</p>

<p>

  <ul>
    <li><b>Почта России.</b> Один из самых надёжных и недорогих, но не самый быстрый способ доставки.</li>
  </ul>

</p>
<p>

  Из-за особенностей упаковки товара мы принимаем заявки на посылки весом <b>3 кг.,  4 кг., 5 кг. и 6 кг.</b>

</p>
<p>
  <b>При заказе посылок  весом более 6 кг, «Почтой России»  стоимость пересылки бесплатно!</b>
</p>

<p>

<ul>
  <li><b>EMS Почта России.</b>  Экспресс-доставка Почтой России. Сроки и стоимость доставки смотрите здесь: <%= link_to "http://www.emspost.ru/ru/calc/", 'http://www.emspost.ru/ru/calc/' %></li>
  <li><b>«СПСР – Экспресс».</b>  Крупнейший российский экспресс-оператор. Доставка «от двери до двери», в удобное для вас  время.  Сроки и стоимость доставки здесь: <%= link_to "http://www.spsr.ru/ru/service/calculator", 'http://www.spsr.ru/ru/service/calculator' %></li>
</ul>
</p>


<p>
<b><u>Варианты оплаты:</u></b>

<ul>
  <li>  <b>наложенный платёж</b> – это 100% оплата товара при получении на почте или с помощью курьерской службы СПСР-экспресс.

    <b>Внимание! Почта России берёт комиссию за отправку денежного перевода, который  возвращается нам.</b>  Расчёты здесь: <%= link_to " http://www.russianpost.ru/rp/servise/ru/home/finuslug/cybermoney_russia", 'http://www.russianpost.ru/rp/servise/ru/home/finuslug/cybermoney_russia' %>
  </li>

  <li> вы можете произвести оплату при помощи платёжных систем <b>webmoney и yandex-деньги, карты сбербанк.</b></li>
</ul>
</p>



</div>
</div>
