<%= title("Мед на дом -- у нас вы можете купить натуральный мед с нашей пасеки! ") %>
<%= description(" В нашем интернет магазине вы можете приобрести мед оптом, купить мед и заказать доставку меда по всей России. Мы гарантируем, что наш мед натуральный и высшего качества. Так же у нас на сайте вы можете задать вопрос профессиональным пчеловодам. ")%>
<%#= render :partial => "home/article", :collection => @articles %>

			<div class="message">

				<h3> Уважаемые любители мёда!  </h3>
                    <br/>
                      Мы рады приветствовать вас в нашем медовом магазине!
                    <br/>
                    <br/>

                            <p>
                              Цель магазина «Мёд на дом» - обеспечить наших покупателей отличным продуктом из первых рук.
                              Мы занимаемся прямыми продажами натурального мёда непосредственно со своей пасеки, имеем многолетний опыт и знаем о мёде и продуктах пчеловодства практически всё. Мы дорожим своими клиентами и относимся к ним с тем же вниманием, какое уделяем качеству своей продукции. Добро пожаловать!
                            </p>
			</div><!-- END message -->
            <div class="products">
                            <%= render :partial => "stores/store", :collection => @stores %>
                        </div><!-- END products -->
                        <p class="split">
                          &nbsp;
                          <br/>
                        </p>
            <div class="posts">
                <h4>Статьи о мёде</h4>
                
                                <%- @articles.each do |article| %>
                                  <% if article.publish_on_main? %>
                  <div class="post">
                                      <h4><%= link_to article.name, category_article_path(article.category,article) %></h4>
                                      <p><%= raw truncate_html article.body, :length => 200 %></p>
                                        <%= link_to "Подробнее...", category_article_path(article.category,article), :class=>"more"%>
                </div><!-- END post -->
                                  <% end %>
                                <% end %>
            </div><!-- END posts -->
