<% set_editor_comment %>
<%= semantic_form_for [:admin, @store], :html => {:multipart => true} do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.label :description %>
    <%= f.text_area :description, :class => "markItUp", :size => "100x20" %>
    <%= f.input :where_from%>
    <%= f.input :position %>
    <%= f.input :price %>
    <%= f.input :logo, :as => :file %>
    <%= f.input :honey_sort, :as => :select, :collection => ( 1..7 ).to_a %>
    <li style="padding-left: 100px;">
      <% (1..7).to_a.each do |m|  %>
        <%= image_tag "/images/m#{m}.png", :title => m %>
      <% end %>
    </li>
  <% end %>
  <%= f.inputs do %>
    <%= f.input :on_index%>
    <%= f.input :on_top%>
    <%= f.input :fresh%>
    <%= f.input :shown%>
    <%= f.input :prod%>
  <% end %>
  <%= f.buttons %>
<% end %>
