<% content_for :javascript do %>
<%= javascript_tag do %>
// Sorting the list

jQuery(function() {
  return $('#articles').sortable({
    axis: 'y',
    handle: '.handle',
    dropOnEmpty: false,
    cursor: 'crosshair',
    opacity: 0.4,
    scroll: true,
    update: function() {
      return $.post($(this).data('update-url'), $(this).sortable('serialize'));
    }
  });
});
<% end %>
<% end %>
<ul id="articles" data-update-url="<%= sort_articles_url %>">
<% @articles.each do |article| %>
<li id="article_<%= article.id %>">
    <span class="handle">[Перетащить]</span>
<div class="post">
<h4><%= link_to article.name, category_article_path(article.category_id, article) %></h4>
<p class="article body">  
  <%= article.preview %>
</p>
<% if can? :update, article %>
<div class="article date">  <%= t(".publish_on") %>: <%= l( article.updated_at ) %></div>
<div class="article author">  <%= t(".author")  %>: <%=  article.author %></div>
<% if params[:action] == "my" %>
  <div class="article status"> <%= t(".status") %>: <%= article.aasm_status %></div>
<% end %>
  <div>
    <%= link_to t("edit"), edit_article_path(article) %>
    <% if can? :destroy, article %>
     | <%= link_to t("destroy"), article_path(article), :method => :delete%>
    <% end %>
    <% if can? :publish, article and not article.publics? %>
     | <%= link_to t("publish"), publish_article_path(article) %>
    <% end %>
    <% if can? :delete, article %>
     | <%= link_to t("delete"), delete_article_path(article), :confirm => t("confirm") %>
    <% end %>
    <% if can? :manage, article %>
     | <%= link_to t("relative_articles"), article_relative_articles_path(article) %>
    <% end %>
    <% if can? :publish_on_main, article and not article.publish_on_main? %>
     | <%= link_to t("publish_on_main"), publish_on_main_article_path(article), :remote => true, :id => "publish_#{article.id}" %>
    <% end %>
    <% if can? :not_publish_on_main, article and article.publish_on_main? %>
     | <%= link_to t("not_publish_on_main"), not_publish_on_main_article_path(article), :remote => true, :id => "unpublish_#{article.id}" %>
    <% end %>
  </div>
<% end %>
</div> 
<% end %>
</li>
</ul>

