<h1><%= t(".title") %></h1>

<% @categories.each do | category | %>
  <table>
    <tr>
      <th><%= t(".name") %></th>
      <th><%= t(".tools") %></th>
    </tr>
  
    <tr>
      <td><%= category.name %></td>
      <td><%= link_to t(".edit"), dest %> </td>
    </tr>
  </table>

  <div>
    <%= form_for Category.new do |f| %>
      <%= f.label :name %>
      <p>
        <%= f.text_field :name %>
      </p>
      <%= f.submit %>
    <% end %>
  </div>
    
<% end %>
