<h1><%= t(".title") %></h1>

<table border=1>
  <tr>
    <th><%= t(".name") %></th>
    <th><%= t(".position") %></th>
    <th><%= t(".tools") %></th>
  </tr>
  <% @categories.each do | category | %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.position%></td>
      <td><%= link_to t(".edit"), edit_admin_category_path(category)%> </td>
    </tr>
  <% end %>
</table>
  <div>
    <%= form_for Category.new, :url => admin_categories_path do |f| %>
      <p>
        <%= f.label :name %>  <%= f.text_field :name %> <%= f.label :position %> <%= f.text_field :position, :size => 3 %>
      </p>
      <%= f.submit %>
    <% end %>
  </div>
