<div>
  <%= semantic_form_for [:admin, @container], :html => {:multipart => true} do |f| %>
    <%= render "shared/error_messages", :target => @container %>
    <p>
      <%= f.input :name %> <%= f.text_area :description, :class => "mceEditor", :size => "100x20" %> <%= f.input :position, :size => 3 %> <%= f.input :image, :as => :file %>
    </p>
    
    <br/>
    <%= f.submit %>
  <% end %>
</div>