<!DOCTYPE html>
<html>
<head>
  <title>
    <% if !yield( :title ).empty? %>
      <%= yield(:title) %>
    <% elsif render_breadcrumbs(:full=>true).present?%>
      <%= "#{render_breadcrumbs(:no_html=>true, :separator => ' / ', :full=>true).html_safe} :: " %>
    <% else %>
    	<%= "Мед на дом -- всегда настоящий мед" %>
    <% end %>
  </title>

   <meta name="description" content="<%= yield(:description) %>" />
   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
   <link rel="icon" href="/favicon.ico" type="image/x-icon" />


  <%= stylesheet_link_tag "reset", "style", "app"%>
  <%= stylesheet_link_tag 'formtastic', 'my_formtastic_changes' %>
  <%= stylesheet_link_tag 'formtastic'  %>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />
  <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= yield( :editor ) %>
  <%= csrf_meta_tag %>

</head>

<body>
  <% if current_user %>
    <%= render :partial => "layouts/users_login_register" %>
  <% end %>
  <div class="header">
		<h1><a href="/"><span></span>Мёд на дом</a></h1>
		<a href="/" class="home"></a>
		<a href="#"></a>
		<ul class="top_nav">
			<li><a href="<%= stores_path %>">Магазин<span>Мёда</span></a></li>
			<li><a href="<%= how_to_buy_path %>">Как купить <span>условия покупки и доставки</span></a></li>
			<li><a href="<%= questions_path %>">Вопросы <span>ответы на вопросы от пчеловодов</span></a></li>
      <li>
        <a href="<%= articles_path %>">Статьи <span>всё о мёде</span></a>
          <div class="dropdown">
            <ul>
              <% Category.order("position").each do |category| %>
                <li><%= link_to category.name, category_articles_path(category) %></li>
              <% end %>
            </ul>
          </div>
      </li>
			<li><a href="<%= reviews_path %>">Отзывы<span>наших покупателей</span></a></li>
		</ul><!-- END top_nav -->
	</div><!-- END header -->

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
	<div class="wrapper">
		<div class="sidebar">
			<div class="sidebar_block menu">
				<ul>
                                  <%#= render :partial => "layouts/category", :collection => Category.all %>
				</ul>
			</div><!-- END sidebar_block -->
                        <%= render :partial => "shoping_carts/cart" %>
			<div class="sidebar_block contact">
				<h2>Контакты</h2>
				<p><span>+7(928)604-78-34</span></p>
				<p>zakaz@mednadom.com</p>
			</div><!-- END sidebar_block -->
			<div class="sidebar_block qa">
				<h2>Вопрос-ответ</h2>
				<ul>
                                  <% Question.shown.each do |question| %>
                                    <li><%= link_to truncate(question.body), question %>
                                  <% end %>
				</ul>
                                <%= link_to "Задать вопрос", new_question_path, :class => "ask" %>
			</div><!-- END sidebar_block -->
		</div><!-- END sidebar -->

  <div class="content">
    <%= render_breadcrumbs %>
    <%#= render :partial => "layouts/search_form" %>
    <%= yield %>
  </div>

		</div><!-- END content -->
	</div><!-- END wrapper -->
	<div class="footer">
		<ul>
			<li><a href="<%= stores_path %>">Магазин мёда</a></li>
			<li><a href="<%= how_to_buy_path %>">Как купить</a></li>
			<li><a href="<%= questions_path %>">Вопросы</a></li>
			<li><a href="<%= articles_path %>">Статьи</a></li>
		</ul>
		<div class="footer_left">
			<p><strong>+7(928)604-78-34</strong></p>
			<p>zakaz@mednadom.com</p>
		</div>
		<div class="footer_right">
			<p>&copy; 2011 Мед на дом. Настоящий мёд.</p>
                        <p>
                          <!--LiveInternet counter--><script type="text/javascript">document.write("<a href='http://www.liveinternet.ru/click' target=_blank><img src='//counter.yadro.ru/hit?t26.6;r" + escape(document.referrer) + ((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth)) + ";u" + escape(document.URL) +";h"+escape(document.title.substring(0,80)) +  ";" + Math.random() + "' border=0 width=88 height=15 alt='' title='LiveInternet: показано число посетителей за сегодня'><\/a>")</script><!--/LiveInternet-->
                        </p>
		</div>
	</div>
</body>
</html>
