<!DOCTYPE html>
<html>
<head>
  <title><% if render_breadcrumbs(:full=>true).present?%>
    <%= "#{render_breadcrumbs(:no_html=>true, :separator => ' / ', :full=>true).html_safe} :: " %>
  <% end %>Jsovet - женские советы</title>
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
	<!--[if IE]><style>.content{behavior: url(/stylesheets/PIE.htc); position: relative;}</style><![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= yield( :editor ) %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div class="header">
		<h1><a href="/"><span></span>Jsovet - женские советы</a></h1>
                <%= render :partial => "layouts/users_login_register" %>
	</div><!-- END header -->
	<div class="wrapper">
		<div class="sidebar">
			<div class="sidebar_block">
				<div class="block_top"></div>
					<div class="block_content">
                                          <% if @category %>
                                            <h2><%= @category.name %></h2>
                                          <% else %>
                                            <h2>Категории</h2>
                                          <% end %>
						<ul>
                                                  <%= render :partial => "layouts/category", :collection => Category.all %>
						</ul>
					</div><!-- END block_content -->
				<div class="block_bottom"></div>
			</div><!-- END sidebar_block -->
		</div><!-- END sidebar -->
		<div class="content">

                    <%= render :partial => "layouts/search_form" %>
                    <%#= yield %>
			<div class="breadcrumbs">
                              <%= render_breadcrumbs %>
				<ul>
					<li><a href="#">Главная</a></li>
					<li><a href="#">Семья</a></li>
					<li>Семья - организованная социальная группа</li>
				</ul>
			</div><!-- END breadcrumbs -->
			<div class="post">
				<h3>Семья - организованная социальная группа</h3>
				<div class="post_info">
					<div class="author">
						<a href="#"><img src="images/img1.jpg" width="30" height="35" /></a>
						<p>Опубликована: Пн, 12 сентября 2011 15:32</p>
						<p>Автор: Елена Федосеева</p>
					</div><!-- END author -->
					
					<ul>
						<li class="edit"><a href="#">Редактировать</a></li>
						<li class="shift_del"><a href="#">Уничтожить</a></li>
						<li class="del"><a href="#">Удалить</a></li>
					</ul>
				</div><!-- END post_info -->
				<div class="text">
					<p class="first">Cемья — организованная социальная группа[1], члены которой связаны общностью быта, взаимной моральной ответственностью и социальной необходимостью, которая обусловлена потребностью общества в физическом и духовном самовоспроизводстве.</p>
					<div class="post_img left" style="width: 300px;">
						<img src="images/img2.jpg" width="300" height="235" />
						<span>Для ребёнка семья — это среда, в которой складываются условия его физического, психического, эмоционального и интеллектуального развития.</span>
					</div><!-- END post_img -->
					<p>Семья принадлежит к важнейшим общественным ценностям. Согласно некоторым научным теориям, именно форма семьи могла на протяжении многих веков определять общее направление эволюции макросоциальных систем.[2] Каждый член общества, помимо социального статуса, этнической принадлежности, имущественного и материального положения, с момента рождения и до конца жизни обладает такой характеристикой, как семейно-брачное состояние.</p>
					<p>Для взрослого человека семья является источником удовлетворения ряда его потребностей и малым коллективом, предъявляющим к нему разнообразные и достаточно сложные требования. На стадиях жизненного цикла человека последовательно меняются его функции и статус в семье.</p>
					<p>Семья принадлежит к важнейшим общественным ценностям. Согласно некоторым научным теориям, именно форма семьи могла на протяжении многих веков определять общее направление эволюции макросоциальных систем.[2] Каждый член общества, помимо социального статуса, этнической принадлежности, имущественного и материального положения, с момента рождения и до конца жизни обладает такой характеристикой, как семейно-брачное состояние.</p>
					<p>Для взрослого человека семья является источником удовлетворения ряда его потребностей и малым коллективом, предъявляющим к нему разнообразные и достаточно сложные требования. На стадиях жизненного цикла человека последовательно меняются его функции и статус в семье.</p>
				</div><!-- END text -->
			</div><!-- END post -->
			<div class="comments">
				<h4>Комментировать</h4>
				<div class="add_comment">
					
				</div><!-- END add_comment -->
				<div class="comment">
					<div class="comment_info">
						<img src="images/img1.jpg" width="30" height="35" />
						<p>Пн, 12 сентября 2011 14:22</p>
						<a href="#">Татьяна Федотова</a>
					</div>
					<p>Спасибо! Отлично написано и совершенно в точку! Даже добавить нечего.</p>
				</div><!-- END comment -->
				<div class="tree">
					<div class="comment">
						<div class="comment_info">
							<img src="images/img1.jpg" width="30" height="35" />
							<p>Пн, 12 сентября 2011 14:22</p>
							<a href="#">Татьяна Федотова</a>
						</div>
						<p>Спасибо! Отлично написано и совершенно в точку! Даже добавить нечего.</p>
					</div><!-- END comment -->
					<div class="comment level-2">
						<div class="comment_info">
							<img src="images/img1.jpg" width="30" height="35" />
							<p>Пн, 12 сентября 2011 14:22</p>
							<a href="#">Татьяна Федотова</a>
						</div>
						<p>Спасибо! Отлично написано и совершенно в точку! Даже добавить нечего.</p>
					</div><!-- END comment -->
					<div class="comment level-3">
						<div class="comment_info">
							<img src="images/img1.jpg" width="30" height="35" />
							<p>Пн, 12 сентября 2011 14:22</p>
							<a href="#">Татьяна Федотова</a>
						</div>
						<p>Спасибо! Отлично написано и совершенно в точку! Даже добавить нечего.</p>
					</div><!-- END comment -->
				</div><!-- END tree -->
			</div><!-- END comments -->
		</div><!-- END content -->
	</div><!-- END wrapper -->
	<div class="footer">		
		<ul>
			<li><a href="#">Администраторская</a></li>
			<li><a href="#">Добавить статью</a></li>
			<li><a href="#">Статьи добавленные мной</a></li>
			<li><a href="#">Профиль</a></li>
			<li><a href="#">Выйти</a></li>
		</ul>
		<p>&copy; 2010-2011 Woman-style. Все права защищены</p>
		<div class="shoe"></div>
	</div><!-- END footer -->
</body>
</html>
