<!DOCTYPE html>
<html>
<head>
  <title>
    <% if !yield( :title ).empty? %>
      <%= yield(:title) %>
    <% elsif render_breadcrumbs(:full=>true).present?%>
      <%= "#{render_breadcrumbs(:no_html=>true, :separator => ' / ', :full=>true).html_safe} :: Мед на дом" %>
    <% else %>
    	<%= "Мед на дом -- всегда настоящий мед" %>
    <% end %>
  </title>

   <meta name="description" content="<%= yield(:description) %>" />
   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
   <link rel="icon" href="/favicon.ico" type="image/x-icon" />


  <%= stylesheet_link_tag "reset", "style", "app"%>
  <%= stylesheet_link_tag 'formtastic', 'my_formtastic_changes' %>
  <%= stylesheet_link_tag 'formtastic'  %>


  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />
  <%= stylesheet_link_tag 'zoom' %>
  <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js", "rails.js", "zoom.js", "sort.js" %>
  <%= yield( :editor ) %>
  <%= csrf_meta_tag %>
  <%= include_tiny_mce_if_needed %>

</head>

<body>
  <% if current_user %>
    <%= render :partial => "layouts/users_login_register" %>
  <% end %>
  <div class="header">
		<h1><a href="/"><span></span>Мёд на дом</a></h1>
		<a href="/" class="home"></a>
		<a href="#"></a>
		<ul class="top_nav">
			<li>
        <a href="<%= stores_path %>">Магазин<span>Мёда</span></a>
          <div class="dropdown">
            <ul>
              <li><%= link_to "Мёд", stores_path %></li>
              <li><%= link_to "Тара", containers_path %></li>
            </ul>
          </div>
      </li>
			<li><a href="<%= how_to_buy_path %>">Как купить <span>условия покупки и доставки</span></a></li>
			<li><a href="<%= questions_path %>">Вопросы <span>ответы на вопросы от пчеловодов</span></a></li>
      <li>
        <a href="<%= articles_path %>">Статьи <span>всё о мёде</span></a>
          <div class="dropdown">
            <ul>
              <% Category.order("position").each do |category| %>
                <li><%= link_to category.name, category_articles_path(category) %></li>
              <% end %>
              <li><%= link_to "Рецепты", recipes_path %></li>
            </ul>
          </div>
      </li>
			<li><a href="<%= reviews_path %>">Отзывы<span>наших покупателей</span></a></li>
		</ul><!-- END top_nav -->
	</div><!-- END header -->

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
	<div class="wrapper">
		<div class="sidebar">
			<div class="sidebar_block menu">
				<ul><%= yield :javascript %>
                                  <%#= render :partial => "layouts/category", :collection => Category.all %>
				</ul>
        <% unless params[:action] == "mayskiy_med"  %>
          <div class="sidebar_block" style="margin-bottom: 10px; margin-left: 15px;">
            <%= link_to "Майский мед 2013", mayskiy_path, :class => "ask" %>
          </div>
        <% end %>
			</div><!-- END sidebar_block -->

                        <%= render :partial => "shoping_carts/cart" %>
			<div class="sidebar_block contact">
				<h2>Контакты</h2>
				<p><span>+7(928)604-78-34</span></p>
				<p>zakaz@mednadom.com</p>
			</div><!-- END sidebar_block -->
			<div class="sidebar_block qa">
				<h2>Вопрос-ответ</h2>
				<ul>
                                  <% Question.shown.order(:position).each do |question| %>
                                    <% if question.publish_on_main? %>
                                      <li><%= link_to truncate(question.body), question %>
                                    <% end %>
                                  <% end %>
				</ul>
                                <%= link_to "Задать вопрос", new_question_path, :class => "ask" %>
			</div><!-- END sidebar_block -->
		</div><!-- END sidebar -->

  <div class="content">
    <%= render_breadcrumbs %>
    <%#= render :partial => "layouts/search_form" %>
    <%= yield %>
  </div>

		</div><!-- END content -->
	</div><!-- END wrapper -->
	<div class="footer">
		<ul>
			<li><a href="<%= stores_path %>">Магазин мёда</a></li>
			<li><a href="<%= how_to_buy_path %>">Как купить</a></li>
			<li><a href="<%= questions_path %>">Вопросы</a></li>
			<li><a href="<%= articles_path %>">Статьи</a></li>
			<li><a href="<%= recipes_path %>">Рецепты</a></li>
		</ul>
		<div class="footer_left">
      <p style="float:left">
      <!-- begin WebMoney Transfer : accept label -->
      <a href="http://www.megastock.ru/" target="_blank"><img src="/images/acc_blue_on_white_ru.png" alt="www.megastock.ru" border="0"></a>
      <a href="https://money.yandex.ru/" target="_blank"><img src="/images/yandex-accepted1.gif" alt="www.money.yandex.ru" border="0"></a>
      <a href="http://www.sbrf.ru/" target="_blank"><img src="/images/sberbank.png" alt="www.sbrf.ru" border="0"></a>
      <!-- end WebMoney Transfer : accept label -->
      </p>
      <p>
      <strong>+7(928)604-78-34</strong>
    </p>
			<p>zakaz@mednadom.com</p>
		</div>
		<div class="footer_right">
			<p>&copy; 2011 Мед на дом. Настоящий мёд.</p>
                        <p>

                          <!--LiveInternet counter--><script type="text/javascript">document.write("<a href='http://www.liveinternet.ru/click' target=_blank><img src='//counter.yadro.ru/hit?t26.6;r" + escape(document.referrer) + ((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth)) + ";u" + escape(document.URL) +";h"+escape(document.title.substring(0,80)) +  ";" + Math.random() + "' border=0 width=88 height=15 alt='' title='LiveInternet: показано число посетителей за сегодня'><\/a>")</script><!--/LiveInternet-->


                          <!-- Yandex.Metrika informer -->
                          <a href="http://metrika.yandex.ru/stat/?id=17633404&amp;from=informer"
                          target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/17633404/3_0_FFFFFFFF_FFFFFFFF_0_pageviews"
                          style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:17633404,type:0,lang:'ru'});return false}catch(e){}"/></a>
                          <!-- /Yandex.Metrika informer -->

                          <!-- Yandex.Metrika counter -->
                          <script type="text/javascript">
                          (function (d, w, c) {
                             (w[c] = w[c] || []).push(function() {
                                 try {
                                     w.yaCounter17633404 = new Ya.Metrika({id:17633404, enableAll: true, webvisor:true});
                                 } catch(e) { }
                             });

                             var n = d.getElementsByTagName("script")[0],
                                 s = d.createElement("script"),
                                 f = function () { n.parentNode.insertBefore(s, n); };
                             s.type = "text/javascript";
                             s.async = true;
                             s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                             if (w.opera == "[object Opera]") {
                                 d.addEventListener("DOMContentLoaded", f);
                             } else { f(); }
                          })(document, window, "yandex_metrika_callbacks");
                          </script>
                          <noscript><div><img src="//mc.yandex.ru/watch/17633404" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                          <!-- /Yandex.Metrika counter -->
                        </p>

		</div>
	</div>
</body>
</html>
